<div class="container">
    <div class="row">
        <div class="col-md-5 mt-auto mb-auto">
            <div class="title text-center mt-4 mb-4">
                <h4>
                    Kayıt Ol
                </h4>
            </div>
            <form action="/user/register" method="post">
                <div class="row mb-4">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Adınız" name="name" autocomplete="off">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Soyadınız" name="surname"
                            autocomplete="off">
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Mail Adresi" name="email"
                            autocomplete="off">
                    </div>
                    <div class="col">
                        <input type="password" class="form-control" placeholder="Şifre" name="password"
                            autocomplete="off">
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary btn-sm">
                        Kayıt Ol
                    </button>
                </div>
                <div class="getLogin text-center">
                    <p>Hesabınız Varsa <a href="/user/login" class="text-primary">Giriş Yapın</a>.</p>
                </div>

            </form>
        </div>
        <div class="col-md-7">
            <img src="/public/images/register.svg" alt="">
        </div>
    </div>
</div>